li:hover .rotate { -webkit-animation: rotatein 1s ease-in-out; }
li:hover .fadeIn {
	-webkit-animation: easeIn 1s ease;
	-moz-animation: easeIn 1s ease;
	-o-animation: easeIn 1s ease;
	animation: easeIn 1s ease;
	-webkit-animation-fill-mode: backwards;/*设置对象状态为动画开始时的状态*/
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards
}
li:hover .topIn {
	-webkit-animation: t_b 1s ease;
	-moz-animation: t_b 1s ease;
	-o-animation: t_b 1s ease;
	animation: t_b 1s ease;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards
}
li:hover .leftIn {
	-webkit-animation: l_r 1s ease;
	-moz-animation: l_r 1s ease;
	-o-animation: l_r 1s ease;
	animation: l_r 1s ease;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards
}
li:hover .rightIn {
	-webkit-animation: r_l 1s ease;
	-moz-animation: r_l 1s ease;
	-o-animation: r_l 1s ease;
	animation: r_l 1s ease;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards
}
li:hover .shake {
	-webkit-animation: shake .8s ease;
	-moz-animation: shake .8s ease;
	-o-animation: shake .8s ease;
	animation: shake .8s ease;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards
}
li:hover .rScale {
	-webkit-animation: scale_r .6s ease;
	-moz-animation: scale_r .6s ease;
	-o-animation: scale_r .6s ease;
	animation: scale_r .6s ease;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards
}
li:hover .oScale {
	-webkit-animation: scale_o 1s ease;
	-moz-animation: scale_o 1s ease;
	-o-animation: scale_o 1s ease;
	animation: scale_o 1s ease;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}
li:hover .bounceInDown {
	-webkit-animation: bounceInDown 1s .2s ease both;
	-moz-animation: bounceInDown 1.5s .2s ease both;
	-ms-animation: bounceInDown 1s .2s ease both;
	-o-animation: bounceInDown 1s .2s ease both;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}
li:hover .width_l {
	-webkit-animation: width_l 1s ease;
	-moz-animation: width_l 1s ease;
	-ms-animation: width_l 1s ease;
	-o-animation: width_l 1s ease;
	-webkit-animation-fill-mode: backwards;
	-moz-animation-fill-mode: backwards;
	-o-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}
 @-webkit-keyframes easeIn { 0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes easeIn { 0% {
opacity:0
}
100% {
opacity:1
}
}
@-o-keyframes easeIn { 0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes easeIn { 0% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes easeOut { 0% {
opacity:1
}
100% {
opacity:0
}
}
@-moz-keyframes easeOut { 0% {
opacity:1
}
100% {
opacity:0
}
}
@-o-keyframes easeOut { 0% {
opacity:1
}
100% {
opacity:0
}
}
@keyframes easeOut { 0% {
opacity:1
}
100% {
opacity:0
}
}
@-webkit-keyframes t_b { 0% {
-webkit-transform:translateY(-80px);
opacity:0
}
100% {
-webkit-transform:translateY(0px);
opacity:1
}
}
@-moz-keyframes t_b { 0% {
-moz-transform:translateY(-80px);
opacity:0
}
100% {
-moz-transform:translateY(0px);
opacity:1
}
}
@-o-keyframes t_b { 0% {
-o-transform:translateY(-80px);
opacity:0
}
100% {
-o-transform:translateY(0px);
opacity:1
}
}
@keyframes t_b { 0% {
transform:translateY(-80px);
opacity:0
}
100% {
transform:translateY(0px);
opacity:1
}
}
@-webkit-keyframes l_r { 0% {
-webkit-transform:translateX(-80px);
opacity:0
}
100% {
-webkit-transform:translateX(0px);
opacity:1
}
}
@-moz-keyframes l_r { 0% {
-moz-transform:translateX(-80px);
opacity:0
}
100% {
-moz-transform:translateX(0px);
opacity:1
}
}
@-o-keyframes l_r { 0% {
-o-transform:translateX(-80px);
opacity:0
}
100% {
-o-transform:translateX(0px);
opacity:1
}
}
@keyframes l_r { 0% {
transform:translateX(-80px);
opacity:0
}
100% {
transform:translateX(0px);
opacity:1
}
}
@-webkit-keyframes r_l { 0% {
-webkit-transform:translateX(80px);
opacity:0
}
100% {
-webkit-transform:translateX(0px);
opacity:1
}
}
@-moz-keyframes r_l { 0% {
-moz-transform:translateX(80px);
opacity:0
}
100% {
-moz-transform:translateX(0px);
opacity:1
}
}
@-o-keyframes r_l { 0% {
-o-transform:translateX(80px);
opacity:0
}
100% {
-o-transform:translateX(0px);
opacity:1
}
}
@keyframes r_l { 0% {
transform:translateX(80px);
opacity:0
}
100% {
transform:translateX(0px);
opacity:1
}
}
@-webkit-keyframes scale_r { 0% {
-webkit-transform-origin:100% 0;
-webkit-transform:scale(0)
}
100% {
-webkit-transform:scale(1)
}
}
@-moz-keyframes scale_r { 0% {
-moz-transform-origin:100% 0;
-moz-transform:scale(0)
}
100% {
-moz-transform:scale(1)
}
}
@-o-keyframes scale_r { 0% {
-o-transform-origin:100% 0;
-o-transform:scale(0)
}
100% {
-o-transform:scale(1)
}
}
@keyframes scale_r { 0% {
transform-origin:100% 0;
transform:scale(0)
}
100% {
transform:scale(1)
}
}
@-webkit-keyframes shake { 0% {
opacity:0
}
10% {
-webkit-transform:translateX(0px);
opacity:1
}
30% {
-webkit-transform:translateX(-20px);
opacity:1
}
40% {
-webkit-transform:translateX(20px);
opacity:1
}
50% {
-webkit-transform:translateX(-10px);
opacity:1
}
60% {
-webkit-transform:translateX(10px);
opacity:1
}
70% {
-webkit-transform:translateX(-5px);
opacity:1
}
80% {
-webkit-transform:translateX(5px);
opacity:1
}
90% {
-webkit-transform:translateX(-2px);
opacity:1
}
100% {
-webkit-transform:translateX(0px);
opacity:1
}
}
@-moz-keyframes shake { 0% {
opacity:0
}
10% {
-moz-transform:translateX(0px);
opacity:1
}
30% {
-moz-transform:translateX(-20px);
opacity:1
}
40% {
-moz-transform:translateX(20px);
opacity:1
}
50% {
-moz-transform:translateX(-10px);
opacity:1
}
60% {
-moz-transform:translateX(10px);
opacity:1
}
70% {
-moz-transform:translateX(-5px);
opacity:1
}
80% {
-moz-transform:translateX(5px);
opacity:1
}
90% {
-moz-transform:translateX(-2px);
opacity:1
}
100% {
-moz-transform:translateX(0px);
opacity:1
}
}
@-o-keyframes shake { 0% {
opacity:0
}
10% {
-o-transform:translateX(0px);
opacity:1
}
30% {
-o-transform:translateX(-20px);
opacity:1
}
40% {
-o-transform:translateX(20px);
opacity:1
}
50% {
-o-transform:translateX(-10px);
opacity:1
}
60% {
-o-transform:translateX(10px);
opacity:1
}
70% {
-o-transform:translateX(-5px);
opacity:1
}
80% {
-o-transform:translateX(5px);
opacity:1
}
90% {
-o-transform:translateX(-2px);
opacity:1
}
100% {
-o-transform:translateX(0px);
opacity:1
}
}
@keyframes shake { 10% {
transform:translateX(0px);
opacity:1
}
30% {
transform:translateX(-20px);
opacity:1
}
40% {
transform:translateX(20px);
opacity:1
}
50% {
transform:translateX(-10px);
opacity:1
}
60% {
transform:translateX(10px);
opacity:1
}
70% {
transform:translateX(-5px);
opacity:1
}
80% {
transform:translateX(5px);
opacity:1
}
90% {
transform:translateX(-2px);
opacity:1
}
100% {
transform:translateX(0px);
opacity:1
}
}
@-webkit-keyframes rotatein {  0% {
-webkit-transform: rotate(0);
 -webkit-transform-origin: 50% 50%;
 -moz-transform-origin: 50% 50%;
 -o-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
}
 100% {
-webkit-transform: rotate(360deg);
}
}
@-webkit-keyframes scale_o {  0% {
 opacity:0;
 -webkit-transform-origin:50% 50%;
 -webkit-transform:scale(0)
}
 100% {
 opacity:1;
 -webkit-transform:scale(1)
}
}
@-webkit-keyframes bounceInDown {  0% {
opacity:0;
-webkit-transform:translateY(-2000px)
}
 60% {
opacity:1;
-webkit-transform:translateY(30px)
}
 80% {
-webkit-transform:translateY(-10px)
}
 100% {
-webkit-transform:translateY(0)
}
}
@-webkit-keyframes width_l {  0% {
 width:0;
}
 100% {
 width:100%
}
}
/*--大海--*/
.sea{
	position: relative;	
	height: 250px;
	background: #4CC1E9;
	overflow: hidden;
}
.wave{
	position: absolute;
	left:-50px;
	right:-50px;
}
.wave01{
	bottom:25px;
	height:33px;
	background:url(../images/test/water-1.png) repeat-x;
	-webkit-animation: wave 7s 0.1s infinite linear;	
}
.wave02{
	bottom:10px;
	height:39px;
	background:url(../images/test/water-2.png) repeat-x;
	-webkit-animation: wave 6.5s 0.1s infinite linear;	
}
.boat{	
	position:absolute;
	right:10%;
	bottom: 18px;
	width: 119px;
	height: 57px;
	background:url(../images/test/boat.png) no-repeat;
	-webkit-animation: wave 6s 0.1s infinite linear;
}
.cloud{
	position:absolute;
}
.cloud01{
	top: 5px;
	left:12%;
	width:300px;
	height:48px;
	background:url(../images/test/cloud-1.png) no-repeat;
	-webkit-animation: cloud 9.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);/*alternate(逆向)；cubic-bezier（速度）*/
}
.cloud02{
	top: 25px;
	right:18%;
	width:360px;
	height:28px;
	background:url(../images/test/cloud-2.png) no-repeat right;
	-webkit-animation: cloud 15.5s .6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.wave03{
	bottom:-10px;
	height:45px;
	background:url(../images/test/water-3.png) repeat-x;
	-webkit-animation: wave 6s 0.1s infinite linear;	
}
.wave04{
	bottom:-50px;
	height:78px;
	background:url(../images/test/water-4.png) repeat-x;
	-webkit-animation: wave 5s 0.1s infinite linear;	
}
@-webkit-keyframes wave {
0% {
	-webkit-transform:rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
}
100% {
	-webkit-transform:rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
}
}
@-moz-keyframes wave {
0% {
	-moz-transform:rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
}
100% {
	-moz-transform:rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
}
}
@-o-keyframes wave {
0% {
	-o-transform:rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
}
100% {
	-o-transform:rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
}
}
@-webkit-keyframes cloud {
0% {
	-webkit-transform:rotateZ(30deg) translate3d(0, 0, 0) rotateZ(-30deg);
}
50% {
	-webkit-transform:rotateZ(-60deg) translate3d(10%, 25%, 0) rotateZ(60deg);
}
}
@-moz-keyframes cloud {
0% {
	-moz-transform:rotateZ(30deg) translate3d(0, 0, 0) rotateZ(-30deg);
}
50% {
	-moz-transform:rotateZ(-60deg) translate3d(10%, 25%, 0) rotateZ(60deg);
}
}
@-o-keyframes cloud {
0% {
	-o-transform:rotateZ(30deg) translate3d(0, 0, 0) rotateZ(-30deg);
}
50% {
	-o-transform:rotateZ(-60deg) translate3d(10%, 25%, 0) rotateZ(60deg);
}
}



