.inner {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
/*sprits*/
.sprits {
	background: url(../images/sprits.png) no-repeat;
	_background: url(../images/sprits.gif) no-repeat;
}
/*导航*/
.breadcrumb {
	padding-left: 30px;
	background-color: #F2F9FD;
	background-position: -276px -339px;
	margin-bottom: 16px;
}
.breadcrumb, .breadcrumb a {
	line-height: 30px;
	color: #0185d0;
}
.breadcrumb a, .breadcrumb span { padding: 0 4px; }
/*-- 文章列表 --*/
.newsList li {
	position: relative;
	line-height: 24px;
 *zoom:1;
}
.newsList .title {
	display: inline-block;
	color: #333;
}
.newsList .time {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -12px;
	color: #999;
}
.newsList-abs li {
	padding: 6px 0;
	border-bottom: 1px solid #DEDEDE;
}
.newsList-abs .abstract {
	font-size: 12px;
	color: #888;
}
/*-- 图片类 --*/
.img-rounded { border-radius: 6px; }
.img-circle { border-radius: 50%; }
.img-thumbnail {
	padding: 2px;
	border: 1px solid #DDD;
	background-color: #FFF;
}
/*-- 图文左右 --*/
.imgTxt-lr li {
	float: left;
	width: 226px;
	margin: 0 8px 10px 0;
	overflow: hidden;
}
.imgArea {
	float: left;
	margin-right: 10px;
	padding: 2px;
	border: 1px solid #DCDCDC;
	font-size: 0;
}
.imgArea:hover { border-color: #D1E1F1; }
.txtArea a {
	color: #007fc7;
	font-weight: bold;
}
.txtArea p {
	padding-top: 10px;
	color: #777;
}
/*-- 图文上下 --*/
.imgTxt-ud { font-size: 0; }
.imgTxt-ud li {
	display: inline-block;
 *display: inline;
 *zoom:1;
	margin: 0 10px;
	text-align: center;
}
.imgTxt-ud img { display: block; }
.imgTxt-ud p a {
	line-height: 2;
	font-size: 12px;
}
/*-- 图文上下（浮层标题） --*/
.imgTxt-ud-overlay { font-size: 0; }
.imgTxt-ud-overlay li {
	position: relative;
	display: inline-block;
 *display: inline;
 *zoom:1;
	margin: 0 5px;
	text-align: center;
}
.imgTxt-ud-overlay li .title {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: block;
	line-height: 26px;
	text-indent: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 12px;
	word-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.imgTxt-ud-overlay .title a {
	color: #FFF;
	text-decoration: none;
}
/*-- 留言框 --*/
.msgBox li { *zoom:1;
}
.msgObj {
	float: left;
	margin-right: 16px;
	border: 1px solid #EBEBEB;
}
.msgObj img { display: block; }
.msgArea {
	display: table-cell;/*标签元素以表格单元格的形式呈现，类似于td标签*/
 *display: inline-block;
	width: 2000px; /*最大宽度*/
 *width: auto;
}
.msg {
	position: relative;
	padding: 6px 10px;
	margin-bottom: 10px;
	border: 1px solid #F3F1F2;
	background-color: #FAFAFA;
	_zoom: 1;
}
.msgBox .msg:hover {
	border-color: #D1E1F1;
	background-color: #F2F5FA;
}
.msg-text {
	margin-bottom: 16px;
	line-height: 1.8;
	color: #666;
}
.msg-mate {
	color: #a7a6a6;
	overflow: hidden;
	_zoom: 1;
}
.msg-mate a { color: #0A8CD2; }
.msgBox .arrow {
	position: absolute;
	top: -1px;
	left: -11px;
	width: 12px;
	height: 11px;
	background: url(../images/msg-arrow.png) no-repeat;
	_overflow: hidden;
}
.msgBox li:hover .arrow { background-position: left -11px; }
/*头像在右边*/
.msgBox-r .msgObj {
	float: right;
	margin: 0 0 0 16px;
}
.msgBox-r .arrow {
	left: auto;
	right: -11px;
	background-position: right top;
}
.msgBox .msgBox-r:hover .arrow { background-position: right -11px; }
/*-- table --*/
.table {
	width: 100%;
	max-width: 100%;
}
.table td, .table th {
	padding: 4px 10px;
	text-align: left;
}
.table thead {
	background-color: #E8F2FB;
	font-weight: bold;
	font-size: 14px;
	color: #000;
}
.table tbody tr:nth-child(even) { background-color: #F5F5F5; }
/*-- 标签切换 tab --*/
.tab-nav {
	position: relative;
	overflow: hidden;
}
.tab-nav li {
	float: left;
	cursor: pointer;
}
.tab-content .tab-panel { display: none; }
.tab-content .cur { display: block; }
/*tab默认样式*/
.tab-default .tab-nav li {
	border: 1px solid #eee;
	border-bottom: none;
	margin-right: 8px;
	padding: 0 20px;
	line-height: 30px;
	font-size: 14px;
}
.tab-default .tab-nav .cur { background-color: #FAFAFA; }
.tab-default .module-bd, .tab-rhombus .module-bd {
	margin-top: -1px;
	border: 1px solid #eee;
	background-color: #FAFAFA;
	height: 100px;
}
/*-- tab菱形标签 --*/
.tab-rhombus .tab-nav { padding-left: 8px; }
.tab-rhombus .tab-nav a, .tab-rhombus .tab-nav em { background-image: url(../images/test/hd_bg_sprite.png); }
.tab-rhombus .tab-nav a {
	position: relative;
	display: inline-block;
	line-height: 27px;
	padding: 0 4px;
	margin-right: 18px;
	background-repeat: repeat-x;
	font-size: 14px;
	text-decoration: none;
}
.tab-rhombus .tab-nav em {
	position: absolute;
	top: 0;
	width: 18px;
	height: 27px;
}
.tab-rhombus .tab-nav .al {
	left: -18px;
	background-position: left -162px;
}
.tab-rhombus .tab-nav .ar {
	right: -18px;
	background-position: left -108px;
}
.tab-rhombus .tab-nav .first .al {
	width: 8px;
	left: -8px;
	background-position: left -54px;
}
.tab-rhombus .tab-nav a:hover {
	background-position: left -27px;
	color: #fff;
}
.tab-rhombus .tab-nav a:hover .al { background-position: left -189px; }
.tab-rhombus .tab-nav a:hover .ar { background-position: left -135px; }
.tab-rhombus .tab-nav .first a:hover .al { background-position: left -81px; }
/*-- 弹出框 --*/
.modal-open {
	position: relative;
	overflow: hidden;
 *zoom:1;
}
.modal {
	display: none;
	position: fixed;
	_position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow: auto;
}
.modal-content {
	position: relative;
	width: 540px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ddd;
	z-index: 9999;
}
.modal .modal-close {
	position: absolute;
	top: 0;
	right: 4px;
	height: 46px;
	border: none;
	background: none;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.modal .modal-close:hover {
	color: #ddd;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.modal .modal-hd {
	height: 46px;
	padding: 0 10px;
	background-color: #0895DA;
	overflow: hidden;
}
.modal .modal-title {
	font: 16px/46px 'Microsoft Yahei';
	color: #fff;
}
.modal .modal-bd { padding: 4px 10px; }
.modal .modal-ft {
	margin: 10px 10px 0 10px;
	text-align: center;
	border-top: 1px solid #d4dce3;
	padding: 10px;
}
.modal .modal-ft a { margin: 0 2px; }
.modal-backdrop {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: #666;
	filter: alpha(opacity=20);
	opacity: .2;
}
/*modal-complex 切图合成*/
.modal-complex .modal-content {
	border: none;
	background: none;
}
.modal-complex .modal-hd {
	padding-top: 10px;
	background: url(../images/modal-complex.png) repeat-x 0 -124px;
}
.modal-complex .modal-hd-l {
	padding-left: 30px;
	background: url(../images/modal-complex.png) no-repeat 0 0;
}
.modal-complex .modal-hd-r {
	padding-right: 30px;
	background: url(../images/modal-complex.png) no-repeat right -62px;
}
.modal-complex .modal-bd { background: #fff; }
.modal-complex .modal-bd-l {
	padding-left: 10px;
	background: url(../images/modal-complex-bdl.png) repeat-y;
}
.modal-complex .modal-bd-r {
	padding-right: 10px;
	background: url(../images/modal-complex-bdr.png) repeat-y right top;
}
.modal-complex .modal-ft {
	margin: 0;
	padding: 10px 0;
	height: 40px;
	background: url(../images/modal-complex.png) repeat-x 0 -342px;
	overflow: hidden;
}
.modal-complex .modal-ft-l {
	padding-left: 30px;
	background: url(../images/modal-complex.png) no-repeat 0 -186px;
}
.modal-complex .modal-ft-r {
	padding-right: 30px;
	background: url(../images/modal-complex.png) no-repeat right -264px;
}
.modal-complex .modal-close {
	top: 12px;
	right: 20px;
}
/*-- 页码 --*/
.pageNav {
	color: #4e4e4e;
	line-height: 18px;
}
.pageNav a {
	display: inline-block;
	height: 19px;
	padding: 0 4px;
	margin: 0 2px;
	border: 1px solid #C8C8C8;
	background-color: #F8F8F8;
	color: #4e4e4e;
}
.pageNav .cur {
	color: #0185D0;
	border-color: #0185D0;
	font-weight: bold;
}
.pageNav .btn {
	padding: 0;
	margin-left: 4px;
	border: none;
}
.pageNav input {
	width: 3em;
	margin: 0 4px 0 30px;
	height: 16px;
	background-color: #F8F8F8;
	border: 1px solid #C8C8C8;
}
/*-- 返回顶部 --*/
.back-to-top {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	background: url(../images/top_bg.png) no-repeat;
	line-height: 100;
	font-size: 0;
	overflow: hidden;
}
.back-to-top:hover { background-position: left bottom; }
/*--标记--*/
.badge {
	display: inline-block;
	min-width: 10px;
	padding: 4px 6px;
	line-height: 1;
	color: #FFF;
	text-align: center;
	background-color: #777;
	border-radius: 10px;
}
